---

---

<!-- Footer til mobil format -->
<footer class="bg-red-950">
  <section class="max-w-7xl mx-auto md:p-0 md:py-8 p-8">
    <section class="grid md:grid-cols-3 gap-gap">
      <div class="md:pb-o pb-mobil-bottom">
        <a href="/"
          ><img
            class="h-24 w-auto pb-6 transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70"
            src="/Logo_hvid.svg"
            alt="logo"
          /></a
        >
        <p class="pb-2">Guldbergsgade 29N</p>
        <p class="pb-2">2200 København N</p>
        <p class="pb-2">CVR: 316 562 06</p>
        <p class="pb-2">kea@kea.dk</p>
        <p class="pb-2">Tlf: +45 46 46 00 00</p>
      </div>
      <div class="md:pb-o pb-mobil-bottom">
        <div>
          <h1 class="md:text-h4-desktop text-h4-mobile font-display font-regular">Handel og politik</h1>
          <a href="#" class="text-neutral-50 underline hover:text-red-600 transition duration-300 ease-in-out hover:cursor-pointer"
            >Handel- og persondata</a
          >
        </div>
        <div>
          <h1 class="md:text-h4-desktop text-h4-mobile font-display font-regular pt-8 pb-2">Følg vores sociale medier</h1>
          <div class="flex justify-start gap-5">
            <div class="w-10 flex-shrink-0">
              <img
                class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer"
                src="/in.svg"
                alt="Linkedin ikon"
              />
            </div>
            <div class="w-10 flex-shrink-0">
              <img
                class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer"
                src="/f.svg"
                alt="Facebook ikon"
              />
            </div>
            <div class="w-10 flex-shrink-0">
              <img
                class="w-full transform hover:-translate-y-1 transition duration-300 ease-in-out hover:opacity-70 hover:cursor-pointer"
                src="/ig.svg"
                alt="Instagram ikon"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="md:pb-o pb-mobil-bottom">
        <h1 class="md:text-h4-desktop text-h4-mobile font-display font-regular">Nyhedsbrev</h1>
        <p class="pb-8">Tilmeld dig vores nyhedsbrev og få 10% rabat</p>
        <p class="pb-2">Email</p>
        <form action="#">
          <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
            <div class="relative w-full">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-neutral-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                  ><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg
                >
              </div>
              <input
                class="block p-3 pl-10 pr-3 w-full text-[1rem] text-neutral-400 bg-neutral-50 border-3 border-neutral-50 placeholder-neutral-400"
                placeholder="Email adresse"
                type="email"
                id="email"
                required=""
              />
              <div class="absolute inset-y-0 right-0 flex items-center justify-end">
                <button
                  type="submit"
                  class="py-3 px-5 text-center cursor-pointer -ml-px bg-red-950 font-semibold border-3 border-neutral-50 hover:bg-red-900 hover:border-red-900 transition duration-300 ease-in-out text-neutral-50 text-[1rem]"
                  >SEND</button
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="flex md:justify-center justify-start gap-5 flex-wrap">
      <section class="flex justify-center md:justify-center gap-3">
        <a href="#" target="_blank" class="flex items-center gap-3 hover:opacity-80 transition duration-300 ease-in-out">
          <img src="/stars-4.5.svg" alt="Trustpilot stjerner" class="h-6" />
          <p class="text-neutral-50">4.5/5 baseret på 200 anmeldelser</p>
        </a>
      </section>
      <p>© Vinens Essens 2024</p>
      <div class="flex justify-start gap-3 md:pt-2 pt-1">
        <img class="h-4 w-auto" src="/dk.webp" alt="Dankort logo" />
        <img class="h-4 w-auto" src="/visa.webp" alt="Visa dankort logo" />
        <img class="h-4 w-auto" src="/mastercard.webp" alt="Mastercard logo" />
        <img class="h-4 w-auto" src="/mobilpay.webp" alt="Mobilepay logo" />
      </div>
    </section>
  </section>
</footer>
